.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }
}
