
.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #575757;
}

/* Responsive Sidebar */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}


.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #007BFF;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: #007BFF;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1; /* Optional: hover effect */
}
